@tailwind base;
@tailwind components;
@tailwind utilities;

#email::after {
  content: '@jorndoescode.lol';
}

:root {
  --font-fallback: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --page-width: 1072px;
  --content-width: 640px;
  --page-left: auto;
  --page-top: 128px;
  --header-height: 48px;
  --footer-height: 48px;
  --margin-left: max(24px, env(safe-area-inset-left));
  --margin-right: max(24px, env(safe-area-inset-right));
}

@media (max-width: 1024px) {
  :root {
    --page-top: 128px;
  }
}

@media (max-width: 768px) {
  :root {
    --page-top: 64px;
  }
}

*,
::before,
::after {
  @apply box-border;
}

body {
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern', 'calt', 'case';
}

main > div > * {
  @apply col-start-2 col-end-auto;
}

article > :first-child {
  @apply mt-0;
}

article > :not(:last-child) {
  @apply mb-7;
}

article :where(p, li) {
  font-feature-settings: 'kern', 'frac', 'ss02';
}

a {
  @apply text-inherit underline decoration-neutral-300 decoration-[1px] underline-offset-2 transition-[text-decoration-color,_0.2s,_ease-in-out] hover:decoration-inherit dark:decoration-neutral-600;
}
